body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #3560B4;
    color: white;
    padding: 1em 0;
}
nav ul {
    list-style-type: none;
    padding: 2%;
}
a:hover{
    color: #393a39;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: larger;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    display: flex;
    padding: 20px;
}
.main-column{
    flex: 3;
}






footer{
    background: #0042CB;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section{
    align-content: top center;
}